<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Person</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/edit/edit.css">

</head>
<body>
<div class="form-wrapper">
    <form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
        <h1>РЕДАКТИРОВАНИЕ ЧЕЛОВЕКА</h1>
        <label for="name">Изменение имени:</label>
        <input type="text" th:field="*{name}" id="name"/>
        <label for="surname">Изменение фамилии:</label>
        <input type="text" th:field="*{surname}" id="surname"/>
        <label for="lastName">Изменение отчества:</label>
        <input type="text" th:field="*{lastName}" id="lastName"/>
        <label for="birthDate">Изменение даты рождения:</label>
        <input type="date" th:field="*{birthDate}" id="birthDate"/>
        <button type="submit">Обновить</button>
    </form>
</div>

<script src="/static/edit/edit.js"></script>

</body>
</html>
