<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/people/index/index.css">

</head>
<body>
<h1>СПИСОК ЛЮДЕЙ</h1>

<div class="people">
    <div th:each="person : ${people}" class="person">
        <a th:href="@{/people/{id}(id=${person.getId()})}" class="name person-link">
            <span th:text="${person.getSurname()}"></span>
            <span th:text="${person.getName()}"></span>
            <span th:text="${person.getLastName()}"></span>
        </a>
        <span class="birthdate" th:text="${person.getBirthDate()}"></span>
        <a th:href="@{/people/{id}/edit(id=${person.getId()})}" class="edit-button">Edit</a>
    </div>
</div>

<div class="sort-buttons">
    <button id="sortByName" class="sort-button">Сортировать по имени</button>
    <button id="sortByDate" class="sort-button">Сортировать по дате рождения</button>
</div>

<div class="add-button-container">
    <a href="/people/new" class="add-button">Добавить человека</a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
<script src="/people/index/index.js"></script>

</body>
</html>
